:root {
  --link-color: lightgrey;
  --odin-color: white;
}

@font-face {
  font-family: "Norse-Bold";
  src: url("../fonts/Norse-Bold.otf");
}

.flex-container {
  display: flex;
}

.flex-container-left {
  background-image: url("../images/brad-fickeisen-eX45lve1DIo-unsplash.jpg");
  background-size: cover;
  position: center;
  height: 100vh;
  width: 40vw;
}

.flex-container-right {
  height: 100vh;
  width: 60vw;
}

#title {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.205);
  padding: 1rem 0;
  position: absolute;
  width: 40vw;
  top: 25vh;

  justify-content: center;
  align-items: center;
}

#odin {
  font-family: Norse-Bold;
  font-size: 5rem;
  color: var(--odin-color);
  display: inline;
}

#title img {
  height: 5rem;
}

#photo-link {
  color: var(--link-color);
  background-color: rgba(0, 0, 0, 0.205);
  text-align: center;
  padding: 1rem 0;
  position: absolute;
  width: 40vw;
  bottom: 1rem;
}

a {
  color: var(--link-color);
}
